doctype html
html
  head
    <link href="/css/foundation.css" rel="stylesheet" type="text/css">
    <link href="/css/custom.css" rel="stylesheet" type="text/css">
    title= title
    
  body
    div(class="medium-12 medium-offset-5 columns content")
      ul(class="inline-list",top="25%")
        li
          a(href='/songs')
            img(border="0" src="img/song.jpg" class='image')
        li
          a(href='/videos')
            img(border="0" src="img/video.jpg" class='image')
    block content