extends ../layout

block content
    div.row
      h1.
        Video ID #{video._id}
    form(action='/videos/#{video._id}/edit',method='post',name='updatevideo',enctype='application/x-www-form-urlencoded')
      div.row
        h3.subheader Name: 
        input#inputName(type='text', value='#{video.name}', name='name',required)
        h3.subheader Genre: 
        input#inputGenre(type='text', value='#{video.genre}', name='genre', required)
        input(type='hidden',value='PUT',name='_method')
      ul.inline-list   
        li
          a(href='/videos' class='small button') Back
        li
          button#btnSubmit(type='submit',class="small button") Update